src/flows.json
[
    {
        "id": "0719a1d08d514f65",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e287f056ca505ef",
        "type": "mqtt in",
        "z": "0719a1d08d514f65",
        "name": "mqttTemp",
        "topic": "adn/group33/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3b62d85eb43128aa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "fed688c6a7336122",
                "06dfe533db9d6aae"
            ]
        ]
    },
    {
        "id": "06dfe533db9d6aae",
        "type": "function",
        "z": "0719a1d08d514f65",
        "name": "function 1",
        "func": "var temp = Buffer.from(msg.payload).readFloatLE(0);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "d0ca0307ba8c0adf",
                "9a08949836a380a0",
                "ba14ee9b44599c51"
            ]
        ]
    },
    {
        "id": "d0ca0307ba8c0adf",
        "type": "ui_text",
        "z": "0719a1d08d514f65",
        "group": "b6a25ff2850b4cdd",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a08949836a380a0",
        "type": "ui_gauge",
        "z": "0719a1d08d514f65",
        "name": "",
        "group": "b6a25ff2850b4cdd",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "ba14ee9b44599c51",
        "type": "ui_chart",
        "z": "0719a1d08d514f65",
        "name": "",
        "group": "b6a25ff2850b4cdd",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fed688c6a7336122",
        "type": "debug",
        "z": "0719a1d08d514f65",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b62d85eb43128aa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b6a25ff2850b4cdd",
        "type": "ui_group",
        "name": "ADN tab",
        "tab": "4770531243da2faf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4770531243da2faf",
        "type": "ui_tab",
        "name": "ADN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79f97c5e981b0d11",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]